@import '../../styles/_variables.scss';

.top-bar {
	display: flex;
	justify-content: space-between;
	align-content: center;
	padding: 1.2rem 4rem;
	background-color: #ffffff;

	&__logo {
		max-width: 100px;
	}

	&__menu {
		display: flex;
		align-items: center;

		&-lang {
			padding: 0.5rem;
		}

		&-currency {
			font-size: 1rem;
			font-weight: 600;
			color: $tui-dark-100;
			background-color: transparent;
			&:hover{
				color: $tui-blue-1600;
				background-color: transparent;
			}
		}
	}

	&__menu-btn {
		display: block;
		@include tablet {
			display: none;
		}

		&--coll {
			display: none;
			@include tablet {
				display: block;
			}
		}
	}
}
