@import './_variables.scss';

.search {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
	position: relative;
	z-index: 2;
	min-height: 40vh;
  background-color: rgba(0, 0, 0, 0.2);
  background: url('../public/img/destinations/barcelona1.jpg') center;
	margin: 0;
	padding: 2.5rem 4rem;
	@include tablet{
		padding: 2.5rem 1.5rem;
	}

	&__title {
		margin-bottom: 4rem;
		@include tablet{
			margin-bottom: 1rem;
		}
	}
}

.destinations {
	justify-content: center;

	&__title{
		text-align: center;
		margin-bottom: 2.5rem;
		
	}
}
